.footer {
    padding: 200px 0 100px;
    font-size: 14px;
}

.footer .logo {
    width: 160px;
    margin-bottom: 22px;
}

.footer .spn-vip a {
    color: var(--main-color);
}

.footer .social {
    margin-top: 42px;
}

.footer .social li:not(:last-child) {
    padding-inline-end: 10px;
}

.footer .social a:hover {
    transform: rotateY(180deg);
}

.footer .list {
    margin-top: 27px;
}

.footer .list li {
    padding-bottom: 15px;
}

.footer .list li a {
    color: var(--text-color);
    font-size: 17px;
}

.footer .list li a i {
    color: var(--main-color);
}

.footer .list li a:hover {
    color: var(--main-color);
}

.footer .list-end img {
    width: 15px;
    height: 15px;
    margin-inline-end: 10px;
}

.footer .copyright {
    padding-top: 50px;
}

.footer .copyright .right li a {
    text-decoration: underline;
    color: var(--text-color);
}

.footer .copyright .right li a:hover {
    color: var(--main-color);
}

.footer .copyright .right li:first-child {
    padding-inline-end: 12px;
}